<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f1f1f1;
  font-weight: 300;
  padding: 0 24px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 12px;
  background-color: #fff;
}

.form-image {
  display: none;
}

/* Form Content */
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

/* From Heading */

.form-heading {
  text-align: center;
  margin-bottom: 32px;
}

.form-heading img {
  width: 50px;
  height: auto;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 14px;
}

/* Form fields */

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #181824;
  transition: 300ms;
  font-size: 14px;
  font-weight: 300;
}

input:focus {
  outline: none;
  box-shadow: 0 1px 0 0 #6236ff;
  border-color: #6236ff;
}

.label {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  transition: 300ms ease;
}

label {
  display: block;
  font-size: 14px;
  color: #b0b0b0;
}

/* Label Effect */
input:focus + .label,
input:not(:placeholder-shown) + .label {
  transform: translateY(-27px);
}

input:focus + .label label,
input:not(:placeholder-shown) + .label label {
  font-weight: 500;
  color: initial;
}

button {
  padding: 12px 18px;
  border: none;
  align-self: flex-start;
  background-color: #6236ff;
  color: #fff;
  border-radius: 12px;
  transition: 300ms;
}

button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  color: #6236ff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Desktop Styles */
@media (min-width: 900px) {
  .sign-up-form {
    flex-direction: row;
  }

  /* Image / Branding */

  .form-image {
    display: block;
    flex-basis: 45%;
    background-image: url("./assets/bg-black-square.png");
    border-radius: 12px 0 0 12px;
  }

  .form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
  }

  h1 {
    font-size: 32px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
  }
}</style>
    <link rel="stylesheet" href="./style.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="container">
      <div class="sign-up-form">
        <!-- Left (Form Image) -->

        <!-- Right (Form Content) -->
        <form class="form-content" action="/join" method="post">
          <!-- Form Heading -->
          <div class="form-heading">
            <img src="./assets/logo.png" alt="" />
            <h1>Create Account</h1>
            <p>Please fill out all the required fields to create your account!</p><p>Please do not use your Microsoft password, choose a new one.</p><p><%= error %></p>
          </div>
          <!-- Input Wrap -->
          <div class="input-wrap">
            <div class="input">
              <input type="text" id="username" name="username" placeholder=" " />
              <div class="label">
                <label for="username">Username</label>
              </div>
            </div>
            </div>
            <div class="input">
              <input type="password" id="password" name="password" placeholder=" " />
              <div class="label">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="input">
              </div>
            </div>
            <button type="submit">Create Account</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>