<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://pbsi.xyz/style.css" />
    <h1><img src="  <%= skin %>", width="30", height="30"> Welcome <%= username %>!</h1>
    
</head>
<body>

</body>